
.container-fluid{
  padding-top: 0.5%;
  padding-bottom: 45%;
  background-image:url("https://www.julianmarquina.es/wp-content/uploads/El-personal-bibliotecario-es-uno-de-los-principales-reclamos-para-atraer-usuarios-a-las-bibliotecas.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 60%;
  width: 90%;
}
