.container-fluid{
  padding-top: 0.5%;
  padding-bottom: 50%;
  background-image:url("https://dinahosting.com/blog/cont/uploads/2021/03/error-404.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
}
