
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">AppBiblioteca</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <button mat-button [matMenuTriggerFor]="menu" style="color: aliceblue">
        Libros
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/libros">Lista de Libros</button>
        <button mat-menu-item routerLink="/libros/Create">Crear Libro</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="menu1" style="color: aliceblue">
        Socios
      </button>
      <mat-menu #menu1="matMenu">
        <button mat-menu-item routerLink="/socios">Lista de Socios</button>
        <button mat-menu-item routerLink="/socios/Create">Crear Socio</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="menu2" style="color: aliceblue">
        Préstamos
      </button>
      <mat-menu #menu2="matMenu">
        <button mat-menu-item routerLink="/prestamos">Lista de Prestamos</button>
        <button mat-menu-item routerLink="/prestamos/Create">
          Crear prestamo
        </button>
      </mat-menu>
      <button type="button" class="btn btn-primary mx-2" routerLink="/sign-in">Login</button>
      <button type="button" class="btn btn-danger mx-2" (click)="authService.SignOut()">Log Out</button>
      <button type="button" class="btn btn-info" routerLink="/dashboard" *ngIf="authService.isLoggedIn">Ver cuenta</button><!--ponemos un ngif para no mostrarlo si no está conectado-->
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>


<footer>
  <div class="container-fluid" style="border: 1px solid black; background-color:rgb(64, 133, 224);">
    <h6 style="text-align: center;">Trabajo realizado por Andrés Pérez Rovira</h6>
    </div>
</footer>

