<div class="container-fluid" style="border: 1px solid black; background-color:rgb(64, 133, 224);">
  <h1 style="text-align: center;">Crear Socio</h1>
  </div>
<div class="container">
<form (ngSubmit)="newSocio(newSocioForm.value)" [formGroup]="newSocioForm" style="margin-top: 20px;" >

  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>Nombre</mat-label>
    <input matInput  formControlName="nombre">
  </mat-form-field>

  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>Apellidos</mat-label>
    <input matInput  formControlName="apellidos">
  </mat-form-field>

  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>Edad</mat-label>
    <input matInput  formControlName="edad">
  </mat-form-field>

  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>Pais</mat-label>
    <input matInput  formControlName="pais">
  </mat-form-field>

  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>Nick</mat-label>
    <input matInput  formControlName="nick">
  </mat-form-field>
  
  <button  type="submit" class="btn btn-primary" [disabled]="!newSocioForm.valid" >Crear</button>
</form>
</div>
